<div class="container">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Dashboard</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/dashboard">Dashboard</button>
        <button mat-button routerLink="/leave">Leave</button>
        <button mat-button routerLink="/attendance">Attendance</button>
        <button mat-button routerLink="/performance">Performance</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  