.employee-add-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.mat-form-field {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.form-actions button {
  margin-bottom: 10px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .form-actions {
    flex-direction: column;
  }

  .form-actions button {
    width: 100%;
    margin-bottom: 10px;
  }
}
