<div class="dashboard">
  <header class="header">
    <h2>Good afternoon, {{ employee.name }}!</h2>
    <div class="date-time">
      <mat-icon>access_time</mat-icon>
      <span>{{ currentDate | date:'dd MMM yyyy, hh:mm a' }}</span>
    </div>
  </header>

  <section class="statistics">
    <article class="stat performance">
      <div class="performance-left">
        <p>My Performance</p>
        <h2>202/240</h2>
        <div class="good-score-container">
          <div class="vertical-line"></div>
          <p class="good-score-text">Good score</p>
        </div>
      </div>
      <div class="performance-right">
        <app-performance-circle [percentage]="84.34"></app-performance-circle>
      </div>
    </article>
    <article class="stat">
      <p>Task Assigned</p>
      <h2>189</h2>
      <div class="good-score-container">
        <div class="vertical-line"></div>
        <p class="good-score-text">223 Average tasks per user</p>
      </div>
    </article>
    <article class="stat">
      <p>Task Completion</p>
      <h2>98.56%</h2>
      <div class="good-score-container">
        <div class="vertical-line-green"></div>
        <p class="good-score-text">Good score</p>
      </div>
    </article>
    <article class="stat">
      <p>Attendance</p>
      <h2>89.87%</h2>
      <div class="good-score-container">
        <div class="vertical-line-orange"></div>
        <p class="good-score-text">Average score</p>
      </div>
    </article>
    <article class="stat">
      <p>Leaves %</p>
      <h2>100%</h2>
      <div class="good-score-container">
        <div class="vertical-line-green"></div>
        <p class="good-score-text">Perfect score</p>
      </div>
    </article>
  </section>

  <section class="main-content">
    <div class="left-content">
      <app-my-team></app-my-team>
    </div>

    <div class="right-content">
      <app-performance-comparison-chart 
        [thisYearData]="[80, 90, 70, 100]" 
        [lastYearData]="[60, 70, 50, 80]" 
        [labels]="['Q1', 'Q2', 'Q3', 'Q4']">
      </app-performance-comparison-chart>
      <app-expense [expenses]="[
      { name: 'Alena Gouse', role: 'UI Designer - UID1', salary: 60, bonuses: 10, entertainment: 5, claims: 5, image: '../../../../assets/woman.png' },
      { name: 'Alan Walker', role: 'UI Designer - UID3', salary: 50, bonuses: 15, entertainment: 5, claims: 10, image: '../../../../assets/man.png' },
      { name: 'Avery Arwood', role: 'UI Designer - UID2', salary: 40, bonuses: 20, entertainment: 10, claims: 5, image: '../../../../assets/woman2.png' }
    ]"></app-expense>
    <!--   <section class="expenses">
        <h2>Expenses</h2>
        <div class="comparison-header">
          <div class="legend-item">
            <div class="dot blue"></div>
            <span>Salary</span>
          </div>
          <div class="legend-item">
            <div class="dot gray"></div>
            <span>Bonuses</span>
          </div>
          <div class="legend-item">
            <div class="dot orange"></div>
            <span>Entertainment</span>
          </div>
          <div class="legend-item">
            <div class="dot green"></div>
            <span>Claims</span>
          </div>
        </div>
        <div class="graph">
         
          <canvas id="expensesGraph" width="400" height="200"></canvas>
        </div>
      </section> -->
    </div>
  </section>
</div>
