<div class="dashboard">
  <header class="header">
    <h2>Good afternoon, {{ employee?.name }}!</h2>
    <div class="date-time">
      <mat-icon>access_time</mat-icon>
      <span>{{ currentDate | date:'dd MMM yyyy, hh:mm a' }}</span>
    </div>
  </header>

  <section class="statistics">
    <article class="stat performance">
      <div class="performance-left">
        <p>My Performance</p>
        <h2>202/240</h2>
        <div class="good-score-container">
          <div class="vertical-line"></div>
          <p class="good-score-text">Good score</p>
        </div>
      </div>
      <div class="performance-right">
        <app-performance-circle [percentage]="84.34"></app-performance-circle>
      </div>
    </article>
    <article class="stat">
      <p>Task Assigned</p>
      <h2>189</h2>
      <div class="good-score-container">
        <div class="vertical-line"></div>
        <p class="good-score-text">223 Average tasks per user</p>
      </div>
      <button class="info-icon">
        <mat-icon>assignment</mat-icon>
      </button>
    </article>
    <article class="stat">
      <p>Task Completion</p>
      <h2>98.56%</h2>
      <div class="good-score-container">
        <div class="vertical-line-green"></div>
        <p class="good-score-text">Good score</p>
      </div>
      <button class="info-icon">
        <mat-icon>grading</mat-icon>
      </button>
    </article>
    <article class="stat">
      <p>Attendance</p>
      <h2>89.87%</h2>
      <div class="good-score-container">
        <div class="vertical-line-orange"></div>
        <p class="good-score-text">Average score</p>
      </div>
      <button class="info-icon" (click)="onAttendanceClick()">
        <mat-icon>assignment_ind</mat-icon>
      </button>
    </article>
    <article class="stat">
      <p>Leaves %</p>
      <h2>100%</h2>
      <div class="good-score-container">
        <div class="vertical-line-green"></div>
        <p class="good-score-text">Perfect score</p>
      </div>
      <button class="info-icon" (click)="onLeavesClick()">
        <mat-icon>login</mat-icon>
      </button>
    </article>
  </section>

  <section class="main-content">
    <div class="left-content">
      <app-my-team></app-my-team>
    </div>

    <div class="right-content">
      <app-performance-comparison-chart 
        [title]="'Performance Comparison'"
        [thisYearData]="thisYearData" 
        [lastYearData]="lastYearData" 
        [labels]="labels">
      </app-performance-comparison-chart>
      <app-expense [expenses]="employeeExpenses"></app-expense>
    </div>
  </section>
</div>
