<div class="employee-details-container">
  <aside class="sidebar">
    <div class="logo">
      <img src="./../../../assets/sharjah-logo-png.png" style="height: 16px;width: 16px;" alt="Logo">
    </div>
    <ul>
      <li><a routerLink="/employee-list" routerLinkActive="active"><mat-icon>home</mat-icon></a></li>
      <li><a routerLink="org" routerLinkActive="active"><mat-icon>people</mat-icon></a></li>
      <li><a routerLink="calendar" routerLinkActive="active"><mat-icon>calendar_today</mat-icon></a></li>
      <li><a routerLink="parking" routerLinkActive="active"><mat-icon>local_parking</mat-icon></a></li>
      <li><a routerLink="recruit" routerLinkActive="active"><mat-icon>how_to_reg</mat-icon></a></li>
      <li><a routerLink="messages" routerLinkActive="active"><mat-icon>message</mat-icon></a></li>
      <li><a routerLink="help" routerLinkActive="active"><mat-icon>help_outline</mat-icon></a></li>
      <li><a routerLink="settings" routerLinkActive="active"><mat-icon>settings</mat-icon></a></li>
    </ul>
  </aside>
  <div class="main-content">
    <header class="header">
      <nav>
        <ul>
          <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="leave" routerLinkActive="active">Leave</a></li>
          <li><a routerLink="attendance" routerLinkActive="active">Attendance</a></li>
          <li><a routerLink="performance" routerLinkActive="active">Performance</a></li>
        </ul>
      </nav>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <mat-label class="employee-details-label">Employee Details</mat-label>
  </div>
</div>
