<section class="team-performance">
  <h2>My Team</h2>
  <div class="tabs">
    <button class="active">Performance</button>
    <button>Goals</button>
    <button>Reports</button>
    <button>Feedbacks</button>
  </div>
  <div class="legend">
    <div class="legend-item">
      <div class="dot perfect-score"></div>
      <span>Perfect score</span>
    </div>
    <div class="legend-item">
      <div class="dot good-score"></div>
      <span>Good score</span>
    </div>
    <div class="legend-item">
      <div class="dot average-score"></div>
      <span>Average score</span>
    </div>
    <div class="legend-item">
      <div class="dot bad-score"></div>
      <span>Bad score</span>
    </div>
  </div>
  <div class="team-table">
    <div class="team-row header">
      <div class="team-cell">Team Members</div>
      <div class="team-cell">Score</div>
      <div class="team-cell">This Month</div>
      <div class="team-cell">Last Month</div>
    </div>
    <div *ngFor="let teamdata of teamDetails; let i = index">
      <div class="team-row">
        <div class="team-cell">
          <img [src]="teamdata?.avatar" alt="Avatar" class="avatar" />
          {{ teamdata?.name }}
        </div>
        <div class="team-cell">{{ teamdata?.score }}</div>
        <div class="team-cell">
          <span class="dot perfect-score"></span>
          {{ teamdata?.thisMonth }}%
        </div>
        <div class="team-cell">{{ teamdata?.lastMonth }}%</div>
      </div>
    </div>
  </div>
</section>
