.team-performance {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Prevents table height from increasing */
}

.team-performance h2 {
  margin-top: 0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 17px;
}

.tabs button.active {
  background-color: #d2e2f3;
  color: #089cdf;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: fit-content;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-item span {
  color: #9ea0a2;
}

.perfect-score {
  background-color: #4caf50;
}

.good-score {
  background-color: #2196f3;
}

.average-score {
  background-color: #ff9800;
}

.bad-score {
  background-color: #f44336;
}

.team-table {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Add scroll if the number of rows increases */
}

.team-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; /* Increased padding for more space between rows */
}

.team-row.header {
  border-radius: 20px;
  background: #eef0f3;
  border-bottom: 1px solid #ddd; /* Ensure header row has a border */
}

.team-cell {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-cell.team-member-cell {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.team-member-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start; /* Ensure alignment starts from the same position */
}

.team-member-name {
  font-weight: bold;
}

.team-member-role {
  font-size: 0.9em;
  color: #555;
  margin-top: 2px; /* Adjust this value to control the spacing between name and role */
}

.team-cell.team-member-cell img.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.team-cell:nth-child(3) {
  border-right: 1px solid #ddd; /* Add the vertical border between 3rd and 4th column */
}

@media (max-width: 350px) {
  .team-row {
    flex-direction: column;
  }

  .team-cell {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
  .team-cell:nth-child(3) {
    border: none;
  }
}
