.performance-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(var(--primary-color) 84.34%, var(--secondary-color) 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  
  .good-score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .vertical-line {
    width: 2px;
    height: 20px;
    background-color: var(--average-score-color);
    margin-right: 10px;
  }
  
  .good-score-text {
    margin: 0;
  }
  