<div class="employee-list-container">
  <div class="employee-list-header">
    <h1>Manage Employees</h1>
    <div class="employee-list-actions">
      <button *ngIf="authService.hasRole('SOP2')" mat-button class="delete-header-button" (click)="deleteSelectedEmployees()" [disabled]="!isAnySelected()">
        <mat-icon>remove_circle_outline</mat-icon>
        Delete
      </button>
      <button mat-button class="add-button" (click)="openDrawer('Add New Employee')">
        <mat-icon>add_circle_outline</mat-icon>
        Add New Employee
      </button>
    </div>
  </div>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" class="drawer">
      <app-drawer [title]="drawerTitle" (drawerClosed)="closeDrawer()">
        <app-employee-add [employee]="selectedEmployee" (formClosed)="closeDrawer()"></app-employee-add>
      </app-drawer>
    </mat-drawer>
    <mat-drawer-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="onCheckboxChange($event, row)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="edit-button" (click)="editEmployee($event,element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="authService.hasRole('SOP2')" mat-icon-button class="delete-button" (click)="deleteEmployee($event, element)" [disabled]="!selection.isSelected(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row, $event)"></tr>
      </table>

      <mat-paginator [length]="totalEmployees$ | async"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
