.employee-list-container {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Add gray border */
}

.employee-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e4c6f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
}

.employee-list-header h1 {
  margin: 0;
  font-size: 24px;
}

.employee-list-header h1 span {
  font-weight: bold;
}

.employee-list-actions {
  display: flex;
  gap: 10px;
}

.delete-header-button {
  background-color: #d7382c;
  color: #fff !important;
}

.delete-header-button mat-icon {
  color: #ffffff;
  margin-right: 5px;
}

.add-button {
  background-color: #67ae67;
  color: #fff !important;
}

.add-button mat-icon {
  color: #fff;
  margin-right: 5px;
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mat-paginator {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.edit-button mat-icon {
  color: #ffc107;
}

.delete-button mat-icon {
  color: #f44336;
}

.drawer-container {
  height: auto; /* Allow the drawer container to adjust its height based on content */
  min-height: 82vh; /* Set minimum height to 82% of the viewport height */
  max-height: 100vh; /* Set maximum height to full viewport height */
  position: relative;
  background-color: #fff;
}

.drawer {
  width: 400px;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto; /* Allow the drawer to scroll if content overflows */
}

.mat-drawer-content {
  background-color: #fff;
}

.table-container {
  background-color: #fff;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .employee-list-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .employee-list-actions {
    flex-direction: column;
    width: 100%;
  }

  .employee-list-actions button {
    width: 100%;
    margin-bottom: 10px;
  }

  .drawer {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .employee-list-header h1 {
    font-size: 20px;
  }

  .employee-list-actions {
    flex-direction: column;
  }

  .employee-list-actions button {
    font-size: 14px;
    padding: 8px;
  }
}

.mat-label-class {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
