<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h1>Sign In</h1>
    </div>
    <form (ngSubmit)="onSubmit()" class="formClass">
      <div class="input-container">
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
        </mat-form-field>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot <span>Username</span> / <span>Password</span>?</a>
      </div>
      <button mat-raised-button color="primary" type="submit" class="full-width sign-in-button">Sign In</button>
      <mat-error *ngIf="loginError">{{loginError}}</mat-error>
    </form>
  </div>
</div>
