<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required>
          </mat-form-field>
          <div class="forgot-password">
            <a href="#">Forgot <span>Username</span> / <span>Password</span>?</a>
          </div>
          <button mat-raised-button color="primary" type="submit" class="full-width">Sign In</button>
          <mat-error *ngIf="loginError">{{loginError}}</mat-error>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  