.expenses {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%; /* Adjust height to ensure both sections match */
  overflow: scroll;
}

.expenses h2 {
  margin-top: 0;
}

.comparison-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.dot.blue { background-color: #2196f3; }
.dot.gray { background-color: #a8c2f0; }
.dot.orange { background-color: #7cbad3; }
.dot.green { background-color: #b9bfb9; }

.expense-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.employee-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.expense-bars {
  width: 60%;
  height: 20px;
  position: relative;
}

.expense-bar {
  width: 100%;
  height: 10px;
  border-radius: 20px;
}
