.add-employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .add-employee-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
  }
  
  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  