/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snackbar {
    background-color: #4caf50;
    color: #fff;
  }
  
  .error-snackbar {
    background-color: #f44336;
    color: #fff;
  }
  
  .info-snackbar {
    background-color: #2196f3;
    color: #fff;
  }
  
  .warning-snackbar {
    background-color: #ff9800;
    color: #fff;
  }
  .mat-label-class {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 12px;
  }
  